.aboutUs_text {
  padding-right: 5rem;
}

.aboutUs_text {
  justify-content: space-between;
}

.aboutUs_text p {
  font-size: 1.05rem;
  color: rgba(0, 0, 0, 0.6);
}

.aboutUs_img img {
  width: 32rem;
  height: auto;
  border-radius: 0.6rem;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.3);
}

.aboutUs_img {
  justify-content: flex-end;
}
