header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 6rem;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

.logo {
  text-decoration: none;
}
.logo h3 {
  font-size: 1.05rem;
  font-weight: 500;
  color: #12788f;
}

.nav ul li::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -0.4rem;
  left: 0;
  background-color: #12788f;
  visibility: hidden;
  width: 0px;
  transition: all 0.5s;
}
.nav ul li:hover::before {
  visibility: visible;
  width: 30%;
}

.nav ul li a:hover {
  color: #12788f;
}

.language_btn:hover {
  background-color: rgba(108, 108, 135, 0.12);
}
.language_btn.clickedLangBtn {
  border: 1px solid rgba(108, 108, 135, 0.2);
}

.language_items {
  position: absolute;
  top: 200%;
  right: 0;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.6rem;
  transition: opacity 0.2s, top 0.3s;
  border: 1px solid rgba(182, 182, 198, 0.3);
  font-weight: 400;
  color: black;
  font-size: 0.93rem;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.08);
  visibility: hidden;
  opacity: 0;
}
.language_items.clickLang {
  visibility: visible;
  top: 135%;
  opacity: 1;
}

.language_item:last-child {
  margin-bottom: 0;
}
.language_item:hover {
  background-color: rgba(108, 108, 135, 0.12);
}
.language_item.activeLang {
  background-color: rgba(108, 108, 135, 0.13);
  border: 1px solid rgba(108, 108, 135, 0.2);
}

.language_btn h1 {
  user-select: none;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: black;
  font-size: 0.93rem;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  height: 45%;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.language_btn img {
  width: 1.07rem;
  margin-right: 0.4rem;
}

.language_btn svg {
  width: 1rem;
  height: 1rem;
  transition: all 0.3s;
}

#lang-arrow {
  transform: rotate(180deg);
}

/* Column Navbar */
.columnNavbar_btn {
  align-items: center;
  cursor: pointer;
  background-color: rgba(108, 108, 135, 0.08);
  padding: 0 0.7rem;
  height: 2.9rem;
  position: relative;
  z-index: 5;
  border-radius: 0.4rem;
}
.columnNavbar_btn:hover {
  background-color: rgba(108, 108, 135, 0.12);
}
.columnNavbar_btn img {
  width: 1.3rem;
}
