@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #12788f;
}

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  padding: 0 8rem;
}

.app {
  width: 100%;
}

.flex {
  display: flex;
}
.justifyBetween {
  justify-content: space-between;
}
.justifyCenter {
  justify-content: center;
}
.column {
  flex-direction: column;
}
.alignCenter {
  align-items: center;
}
.h-100 {
  height: 100%;
}
.wf-100 {
  width: 100%;
}
.wf-50 {
  width: 50%;
}
.hidden {
  display: none;
}

/* Sections */
.about,
.advantages,
.projects {
  padding-bottom: 4rem;
  padding-top: 2rem;
}

/* Title */
.sectionTitle {
  margin-bottom: 3rem;
}
.sectionTitle h1 {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Signika", sans-serif;
  color: black;
}

.sectionTitle h1::first-letter {
  color: #12788f;
  font-size: 2.7rem;
}

.logo img {
  width: 3.3rem;
  height: auto;
  margin-right: 1rem;
}

.logo.fixed {
  position: fixed;
  left: 4rem;
  z-index: 5;
}

.nav ul li {
  list-style: none;
  margin-right: 1.8rem;
  position: relative;
}
.nav ul li:last-child {
  margin-right: 0;
}

.nav ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  transition: all 0.3s;
}

/* Language */
.language_btn {
  position: relative;
  background-color: rgba(108, 108, 135, 0.08);
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s;
  height: 2.9rem;
  padding: 0 0.7rem;
  border: 1px solid transparent;
}
.language_item {
  display: flex;
  align-items: center;
  list-style: none;
  border-radius: 0.4rem;
  padding: 0.6rem 1.1rem 0.6rem 0.6rem;
  user-select: none;
  transition: all 0.3s;
  font-size: 0.93rem;
  margin-bottom: 0.6rem;
  background-color: rgba(108, 108, 135, 0.07);
  border: 2px solid transparent;
}

.langAnd_navBtn.fixed {
  position: fixed;
  z-index: 5;
  right: 4rem;
}

/* About */
.aboutUs_img {
  width: 45%;
  justify-content: flex-end;
}

.aboutUs_text {
  width: 50%;
}

.aboutItem h3 {
  font-size: 1.15rem;
  font-weight: 400;
  margin-right: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* Advantages */
.advantageItem {
  margin-right: 3.3rem;
  padding: 1.3rem;
}
.advantageItem:last-child {
  margin-right: 0;
}
.advantageItem h4 {
  font-size: 1.6rem;
}

.advantageItem h4 {
  color: #12788f;
  font-size: 1.35rem;
  margin-bottom: 1.2rem;
  font-weight: 500;
}

.description {
  font-size: 0.975rem;
  text-align: center;
  color: rgba(42, 41, 53, 0.75);
}

/* Projects */
.columnImgs {
  height: auto;
  width: 55%;
}

.firstProject {
  width: 42%;
  height: auto;
}
.projectImg {
  width: 47.5%;
  height: 30.5%;
  overflow: hidden;
}

.rowMain img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.firstProject:hover img,
.projectImg:hover img {
  transform: scale(1.2);
}

.fullscreenImage img {
  width: 51%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.fullscreenImage:last-child img,
.fullscreenImage:first-child img {
  width: auto;
  height: 81%;
}

.closeFullscreen {
  position: fixed;
  top: 3rem;
  right: 3rem;
  background-color: rgb(255, 0, 0);
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 6;
}

.leftBtn {
  left: 3rem;
  padding-right: 0.151rem;
}
.rightBtn {
  right: 3rem;
  padding-left: 0.1rem;
}

/* Footer */
.footerInfos {
  padding: 3.5rem 3.5rem 3.5rem 8rem;
}
.footerMap iframe {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 50%;
  border: none;
}

/* Media */
@media only screen and (max-width: 1360px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1240px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 980px) {
  html {
    font-size: 11.3px;
  }
  .fullscreenImage img {
    width: 75%;
  }
  .fullscreenImage:last-child img,
  .fullscreenImage:first-child img {
    height: auto;
    width: 70%;
  }
}
@media only screen and (max-width: 760px) {
  .container {
    padding: 0 4rem;
  }
  .footerInfos {
    padding: 2.7rem 2.7rem 2.7rem 4rem;
  }

  .aboutItem h3 {
    font-size: 1.05rem;
  }
}
@media only screen and (max-width: 640px) {
  .logo h3 {
    display: none;
  }
  .aboutInfos {
    flex-direction: column-reverse;
    align-items: center;
  }
  .aboutUs_text {
    width: 100%;
  }
  .aboutUs_img {
    width: 100%;
    margin-bottom: 3rem;
  }

  .projectImg {
    margin-bottom: 2rem;
    height: 18rem;
  }
  .projectImg:last-child {
    margin-bottom: 0;
  }
  .columnImgs {
    width: 100%;
  }
  .rowMain {
    flex-direction: column;
  }
  .firstProject {
    width: 100%;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 525px) {
  .projectImg {
    height: 14rem;
  }

  .footer {
    flex-direction: column-reverse;
  }
  .footerMap {
    height: 27rem;
  }
  .footerMap iframe {
    position: static;
    width: 100%;
  }
  .footerMap,
  .footerInfos {
    width: 100%;
  }

  .footerInfos {
    padding: 2.3rem 2.3rem 2.7rem 3rem;
  }
  .logo img {
    width: 3.2rem;
    margin-right: 0;
  }
}
@media only screen and (max-width: 480px) {
  .columnNavbar_btn {
    display: flex;
  }
  .nav ul {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(9px);
    right: -100%;
    top: 0;
    transition: all 0.7s ease;
    width: 100%;
    height: 100vh;
    z-index: 2;
    padding: 0 4rem;
  }
  .nav ul.activeNav {
    right: 0;
  }
  .nav ul li {
    margin-right: 0;
    margin-bottom: 2.5rem;
  }
  .nav ul li:last-child {
    margin-bottom: 0;
  }
  .nav ul li a {
    font-size: 1.4rem;
  }

  .language_item {
    padding: 0.5rem 1.1rem 0.5rem 0.5rem;
  }
  .language_btn {
    margin-right: 1.5rem;
  }

  .sectionTitle h1 {
    font-size: 2.25rem;
  }

  .projectImg {
    height: 13rem;
  }
  .advantageRow {
    flex-direction: column;
  }
  .advantageItem {
    margin-right: 0;
    padding: 2rem;
    margin-bottom: 2.5rem;
  }
  .advantageItem:last-child {
    margin-bottom: 0;
  }
  .advantageItem h4 {
    font-size: 1.6rem;
  }
  .description {
    font-size: 1.15rem;
  }

  .columnImgs {
    flex-direction: column;
  }
  .projectImg {
    width: 100%;
    height: auto;
  }

  .closeFullscreen {
    top: 2rem;
    right: 2rem;
  }
  .rightBtn {
    right: 2rem;
  }
  .leftBtn {
    left: 2rem;
  }
}

@media only screen and (max-width: 420px) {
  .nav ul,
  .container {
    padding: 0 3rem;
  }

  .langAnd_navBtn.fixed {
    right: 3rem;
  }

  .logo.fixed {
    left: 3rem;
  }
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 19px;
  }
}
@media only screen and (min-width: 2000px) {
  html {
    font-size: 21px;
  }
}
